<h1>Viviendas en la BBDD local:</h1>
<h3>{{#each houses}}</h3>

<p><b>Vivienda situada en: </b></Vivienda>:{{street}}</p>
<p><b>Numero de la calle: </b></Numero> {{number}}</p>
<p><b>Descripcion de la vivienda: </b>{{description}}</p>
<hr>
{{/each}}